<div id="register" fxLayout="column">
  <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
    <div id="login-form">
      <div class="logo">
        <img src="assets/osmosis.svg" />
      </div>

      <div class="title">{{ "login to your account" }}</div>

      <form name="loginForm" novalidate [formGroup]="fg">
        <mat-form-field appearance="outline" >
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" />
          <mat-icon matSuffix class="secondary-text">sentiment_satisfied_alt</mat-icon>
          <mat-error *ngIf="fg.get('username')?.hasError('required')">
            username is required
        </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" >
          <mat-label>Email</mat-label>
          <input matInput formControlName="email"/>
          <mat-icon matSuffix class="secondary-text">mail</mat-icon>
          <mat-error *ngIf="fg.get('email')?.hasError('required')">
            email is required
        </mat-error>
        <mat-error *ngIf="fg.get('email')?.hasError('email')">
            please enter a valid email address
        </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" > 
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone"/>
          <mat-icon matSuffix class="secondary-text">phone</mat-icon>
          <mat-error *ngIf="fg.get('phone')?.hasError('required')">
            phone is required
        </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" > 
          <mat-label>Password</mat-label>
          <input matInput type="password"formControlName="password"/>
          <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
          <mat-error *ngIf="fg.get('password')?.hasError('required')">
            password is required
        </mat-error>
        <mat-error *ngIf="fg.get('password')?.hasError('minlength')">
            passsword must be at least 8 characters long
        </mat-error>
        </mat-form-field>

        <div
          class="remember-forgot-password"
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutAlign="space-between center"
        >
          <a class="forgot-password" [routerLink]="'/forgot-password'">
            {{ "forgot password" }}{{ "?" }}
          </a>
        </div>

        <button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT" [disabled]="fg.invalid" (click)="onSubmit()">
            {{ "create an account"}}
        </button>
      </form>

      <div class="separator">
        <span class="text">{{ "or" }}</span>
      </div>
      <div class="register" fxLayout="column" fxLayoutAlign="center center">
        <a class="link" [routerLink]="'/auth/login'">{{ "Login" }}</a>
      </div>
    </div>
  </div>
</div>
